.git
.gitignore
.env
.env.*
!.env.example
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
bootstrap/cache/*.php
vendor
node_modules
.phpunit.result.cache
.phpunit.cache
tests
README.md
*.md
.idea
.vscode
Thumbs.db
.DS_Store
Dockerfile
docker-compose*.yml
