APP_NAME="SafeLink AI"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://localhost:8080

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=safelink_db
DB_USERNAME=safelink_user
DB_PASSWORD=safelink_secret

CACHE_DRIVER=redis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

GOOGLE_SAFE_BROWSING_API_KEY=
VIRUSTOTAL_API_KEY=
HIBP_API_KEY=
