/vendor
/.idea
/.vscode
/*.env
/*.env.backup
/*.env.production
/public/storage
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
.DS_Store
Thumbs.db
